RewriteEngine On

# Excluir la carpeta admin (regla corregida)
RewriteCond %{REQUEST_URI} !^/admin/.*$
RewriteCond %{REQUEST_URI} !^/admin$

# Force HTTPS


# Remove .php extension from product pages
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^Productos-equipos/([^/]+)/?$ Productos-equipos/$1.php [L]

# Remove .php extension from other pages
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]

# Prevent viewing of .htaccess file
<Files .htaccess>
Order allow,deny
Deny from all
</Files>